---
import Layout from '../layouts/index.astro'
import Header from '../components/Header.astro'
import Footer from 'src/components/Footer.astro';
---

<Layout title="Chat Bot">
  <main>
    <Header />
    <Footer />
  </main>
</Layout>
