---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="text-2xl mr-1 font-extrabold">Ttile</span>
    <span class="text-(2xl transparent) font-extrabold bg-(clip-text gradient-to-r) from-sky-400 to-emerald-600">SubTitle</span>
  </div>
  <p mt-1 op-60>Captions</p>
</header>
