---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div f-b>
    <Logo />
    <Themetoggle />
  </div>
  <div f-i mt-2>
    <span text-2xl mr-1 font-extrabold>ChatGPT</span>
    <span
      class="text-(2xl transparent) font-extrabold bg-(clip-text gradient-to-r) from-sky-400 to-emerald-600"
      >Bot</span
    >
  </div>
  <p mt-1 op-60>Based on OpenAI API ({import.meta.env.OPENAI_API_MODEL}).</p>
</header>
