---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A chat bot based on open AI" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root{
    --c-bg:#fbfbfb;
    --c-fg:#444444
  }

  html{
    font-family: system-ui, sans-serif;
    background-color: var(--c-bg);
    color: var(--c-bg);
  }

  html.dark{
    --c-bg: #212129;
    --c-fg: #ddddf0
  }

  main{
    max-width: 70ch;
    margin: 0 auto;
    padding: 6rem 2rem 4rem;
  }
</style>

<script>
  const initTheme = ()=>{
    const isDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
    const theme = localStorage.getItem('theme')
    document.documentElement.classList.toggle('dark',theme?theme === 'dark':isDark)

  }
  initTheme()
</script>
